.post_content {
  padding: 15px;
  h1 {
		font: 600 25px $font;
		color: green;
		margin-bottom: 40px;
	}

	h2 {
		font: 600 22px $font;
		color: #333;
		margin-bottom: 15px;
		margin-top: 25px;
  }

  h3 {
    font: 600 20px $font;
    color: green;
    margin-bottom: 15px;
    margin-top: 25px;
  }

  p {
		font: 400 18px $font;
		color: #333;
    margin-bottom: 20px;
    line-height: 1.5;
	}
	a {
		color: green;
		text-decoration: none;
		font: 400 18px $font;
		&:hover {
			text-decoration: underline;
		}
  }

  ul, ol {
    margin: 20px 15px;
    list-style-type: disc;
    > li {
      list-style-position: inside;
      margin-bottom: 10px;
      font: 400 18px $font;
      color: #333;
      line-height: 1.5;
    }
  }

  .spec_block {
    margin: 0 30px 15px 0;
    background: #dfd;
    padding: 10px 20px;
  }

  .spec_text {
    color: green;
  }

  .post_table {
    border-collapse: collapse;
    font: 400 18px $font;
    margin: 30px 0;
    tr {
      th {
        border: 1px solid #aaa;
        padding: 15px;
        font-weight: 600;
      }
      td {
        border: 1px solid #aaa;
        padding: 20px 15px;
      }
      &:nth-child(even) {
        background: #efe;
      }
    }
  }

  .post_img {
    text-align: center;
    margin: 20px 0;
    > img {
      max-width: 100%;
    }
  }
  .pic_title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .source_list {
    p {
      font-weight: 300;
    }
  }

  .source {
    text-align: right;
    margin-top: 50px;
    .post_source, .post_author {
      margin-bottom: 10px;
      font: 400 18px $font;
      > span {
        color: green;
        font-weight: 600;
      }
    }
  }
}